<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  version="6.0">

<display-name>SWE 3 Demo App</display-name>

<context-param>
  <param-name>redispassword</param-name>
  <param-value>REDISPASSWORD</param-value>
</context-param>
<context-param>
  <param-name>redisserver</param-name>
  <param-value>REDISSERVER</param-value>
</context-param>

<listener>
  <listener-class>hbv.web.MyContextListener</listener-class>
</listener>

<servlet-mapping>
  <servlet-name>helloServlet</servlet-name>
  <url-pattern>/hello</url-pattern>
</servlet-mapping>	
<servlet>  
  <servlet-name>helloServlet</servlet-name>
  <servlet-class>hbv.web.HelloServlet</servlet-class>
</servlet>  

<servlet-mapping>
  <servlet-name>redisServlet</servlet-name>
  <url-pattern>/redis</url-pattern>
</servlet-mapping>	
<servlet>  
  <servlet-name>redisServlet</servlet-name>
  <servlet-class>hbv.web.RedisServlet</servlet-class>
</servlet>  
<servlet-mapping>
  <servlet-name>redisPoolServlet</servlet-name>
  <url-pattern>/redispool</url-pattern>
</servlet-mapping>	
<servlet>  
  <servlet-name>redisPoolServlet</servlet-name>
  <servlet-class>hbv.web.RedisPoolServlet</servlet-class>
</servlet>  

<servlet>
  <servlet-name>pbkdf2Servlet</servlet-name>
  <servlet-class>hbv.web.PBKDF2Servlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>pbkdf2Servlet</servlet-name>
  <url-pattern>/pbkdf2</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-name>loginServlet</servlet-name>
  <servlet-class>hbv.web.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>loginServlet</servlet-name>
  <url-pattern>/login</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>logoutServlet</servlet-name>
  <servlet-class>hbv.web.LogoutServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>logoutServlet</servlet-name>
  <url-pattern>/logout</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>protectedServlet</servlet-name>
  <servlet-class>hbv.web.ProtectedServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>protectedServlet</servlet-name>
  <url-pattern>/protected</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-name>sqlServlet</servlet-name>
  <servlet-class>hbv.web.SQLServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>sqlServlet</servlet-name>
  <url-pattern>/sql</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-class>hbv.web.BuchungErstellenServlet</servlet-class>
  <servlet-name>buchungErstellenServlet</servlet-name>
</servlet>
<servlet-mapping>
  <servlet-name>buchungErstellenServlet</servlet-name>
  <url-pattern>/buchung</url-pattern>
</servlet-mapping> 


<filter> 
  <filter-name>myfilter</filter-name>
  <filter-class>hbv.web.MyFilter</filter-class> 
  <async-supported>true</async-supported> 
</filter> 

<filter-mapping> 
  <filter-name>myfilter</filter-name>
  <url-pattern>/*</url-pattern> 
</filter-mapping> 

</web-app>  
